.home {
  display: flex;

  .homeContainer {
    flex: 6;
    background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e9f595ce-2a04-40e2-bd37-b4ce458c5c17/dagb0ty-1bb42f5a-24c8-4a60-8a66-07f5d74e7a35.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcL2U5ZjU5NWNlLTJhMDQtNDBlMi1iZDM3LWI0Y2U0NThjNWMxN1wvZGFnYjB0eS0xYmI0MmY1YS0yNGM4LTRhNjAtOGE2Ni0wN2Y1ZDc0ZTdhMzUuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.HoKs_er7p5IWk-rKorcrUfB7Walt3kZxzNY6-40TkSY");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;

    .widgets,
    .charts {
      display: flex;
      padding: 20px;
      gap: 20px;
    }
    .logohome{
      margin-top: 200px ;
      margin-bottom:200px ;
      margin-left:450px ;
      margin-right:200px ;
    }

    .charts {
      padding: 5px 20px;
    }
    h1{
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20rem;
    }

    .listContainer {
      -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
      box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
      padding: 20px;
      margin: 20px;

      .listTitle {
        font-weight: 500;
        color: gray;
        margin-bottom: 15px;
      }
    }
  }
}

